/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: block;
    padding: 0 35px;
    min-height: 100vh;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

/* Header Section */
header {
    padding: 1rem 2rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 1.8rem;
    color: #2d572c;
    margin-left: 5.5rem; /* Adjust this value to control the position to the right */
}

header nav {
    margin-right: 5rem; /* Adjust this value to control the position to the left */
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #28a745;
}



/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    background-image: url('media/image2.1.jpg');
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 2rem;
}

.hero-content {
    max-width: 70%;
    padding: 2rem;
    border-radius: 8px;
    text-align: left;
    margin-left: 5.5rem; /* Adjust this value to control the position to the right */
}

.hero h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #f0f0f0;
}

.cta-button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-right: 0.6rem; /* Increased spacing between buttons */
}

.cta-button-secondary {
    display: inline-block;
    background-color: #2f642e;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
}
.cta-button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}
.cta-button-secondary:hover {
    background-color: #004e0c;
    transform: translateY(-3px);
}
/* About Section */
.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1.5rem;
}

.about-text {
    flex: 1;
    color: #333;
}

.about-text h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #555;
}

.about-text a {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
}

.about-text a:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    width: 100%;
    border-radius: 8px;
}

/* Section Styling */
.section {
    padding: 4rem 2rem;
    margin: 0 auto;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #2d572c;
    margin-bottom: 1.5rem;
}

.section p {
    margin-bottom: 2rem;
    color: #555;
}

/* Slider Section */
.wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 5;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i#left {
    left: -22px;
}

.wrapper i#right {
    right: -22px;
}

.wrapper .carousel {
    display: flex;
    gap: 14px;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    width: 100%;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    width: calc(100% / 3);
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}


.button-container {
    text-align: center;
    margin-top: 0.5rem;
}

.button-gallery {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
}

.button-gallery:hover {
    background-color: #218838;
    transform: translateY(-3px);
}


/* Services Section */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.service-card {
    text-decoration: none;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-card h3 {
    font-size: 1.2rem;
    margin: 1rem;
    color: #2d572c;
}

.service-card p {
    margin: 0 1rem 1.5rem;
    color: #555;
}

.service-card a {
    text-decoration: none;  /* Remove underline */
    font-weight: bold;
    color: #28a745;
    margin-left: 1rem;
}

.service-card a:hover {
    text-decoration: none;  /* Make sure underline is removed on hover as well */
    color: #218838;  /* Darker color for hover state */
}



/* Contact Section */
.contact-section {
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f9f9f9;
    padding: 5rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    background-image: url('media/grassforbg.jpg');
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-bottom: 0rem;


  
}


.contact-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
    max-width: 70%;
    max-height: 980px;
    margin: 0 auto;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row; 
    margin-bottom: 0rem;

}

.form-section, .info-section {
    flex: 1;
    background: white;
    padding: 2rem;
    border-radius: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 2;
    margin-bottom: 12rem;

}

.form-section h2, .info-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #2d572c;
    text-align: center;
    margin-bottom: 0rem;

}

.form-section p {
    margin-bottom: 0rem;
    color: #555;
    font-size: 1.5rem;
    padding: 0rem
}

.form-section label {
    display: block;
    margin-bottom: 0rem;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.2rem
}

.form-section input, .form-section textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: #d2fcdb;
}
.form-section button {
    background-color: #2d572c;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 10rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 3.2rem;
    align-self: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem
}

.form-section button:hover {
    background-color: #218838;
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0rem;
}

.checkbox-container input {
    width: 15px;
    height: 16px;
    margin-top: 0.7rem;
    margin-right: 0.5rem;
}

.checkbox-container label {
    font-size: 0.9rem;
    align-items: flex-start;
}

.info-section {
    flex: 1;
    background: white;
    padding: 1.2rem;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.info-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.info-section p {
    margin-top: 0.2rem;
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.info-section a {
    color: #28a745;
    text-decoration: none;
}

.info-section a:hover {
    text-decoration: underline;
}

.info-section h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2d572c;
    margin-top: 1rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-top: 1px solid #eaeaea;
}
/* Responsive Styles */

/* Large Screens (1200px and below) */
@media (max-width: 1200px) {
    header {
        flex-direction: column; /* Stack header elements vertically */
    }

    header h1 {
        white-space: nowrap; /* Prevent wrapping to a second line */
        overflow: hidden; /* Hide overflow if necessary */
        text-overflow: ellipsis; /* Add ellipsis if the text overflows */
        font-size: 1.5rem; /* Adjust font size for smaller screens */
        margin-bottom: 2rem;
        margin: 0 auto;
    }
    header nav ul {
        display: flex; /* Use flexbox for layout */
        flex-wrap: wrap; /* Allow wrapping to the next line */
        list-style: none; /* Remove bullet points */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
        gap: 0.5rem; /* Add space between items */
        justify-content: center; /* Center align items */
        width: 100%; /* Ensure full width for wrapping */
        margin-left: 2.4rem;
        margin-top: 0.2rem;
    }
    header nav ul li a {
    padding: 0rem;
    margin: 0 auto;
    }
    .hero {
        height: 30vh; /* Reduced height for smaller screens */
    }
    .hero h1{
        margin: 0 auto;

    }

    .hero-content {
        margin-left: 0; /* Remove unnecessary margin */
        padding: 1rem; /* Adjust padding */
    }



    .about-container {
        gap: 1.5rem; /* Reduce gap */
        padding: 0 1rem; /* Adjust padding */
    }

    .services {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust grid layout */
    }

    .contact-container {
        flex-direction: column; /* Stack form and info vertically */
        align-items: center; /* Center align content */
        gap: 2rem; /* Add spacing between stacked items */
    }

    .form-section, .info-section {
        width: 100%; /* Increase width for better utilization */
        max-width: 600px; /* Optional: Restrict max width */
        text-align: center; /* Center-align text */
    }

    .form-section button {
        width: 60%; /* Make button full-width */
        padding: 1.2rem; /* Adjust padding for better usability */
        font-size: 1.2rem; /* Slightly increase font size */
    }

    .info-section h3 {
        font-size: 1.3rem; /* Slightly increase font size for better readability */
    }

    .info-image {
        width: 100%; /* Ensure image uses full width */
        margin-bottom: 1rem; /* Add spacing below the image */
    }
}

/* Medium Screens (992px and below) */
@media (max-width: 992px) {
    header {
        flex-direction: column; /* Stack header elements vertically */
    }

    header h1 {
        white-space: nowrap; /* Prevent wrapping to a second line */
        overflow: hidden; /* Hide overflow if necessary */
        text-overflow: ellipsis; /* Add ellipsis if the text overflows */
        font-size: 1.5rem; /* Adjust font size for smaller screens */
        margin-bottom: 2rem;
        margin: 0 auto;
    }
    header nav ul {
        display: flex; /* Use flexbox for layout */
        flex-wrap: wrap; /* Allow wrapping to the next line */
        list-style: none; /* Remove bullet points */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
        gap: 0.5rem; /* Add space between items */
        justify-content: center; /* Center align items */
        width: 100%; /* Ensure full width for wrapping */
        margin-left: 2.4rem;
        margin-top: 0.2rem;
    }
    header nav ul li a {
    padding: 0rem;
    margin: 0 auto;
    }
    
    .hero {
        height: 30vh; /* Reduced height for smaller screens */
    }
    .hero h1{
        margin: 0 auto;

    }

    .hero-content {
        max-width: 1000px;
        display: flex; /* Use flexbox to align buttons */
        flex-direction: column; /* Default column alignment */
        align-items: center; /* Center the content horizontally */
        text-align: center; /* Center the text */
    }

    .cta-button,
    .cta-button-secondary {
        display: inline-block; /* Ensure buttons remain inline */
        padding: 0.5rem 1rem; /* Reduce padding for smaller size */
        font-size: 1rem; /* Reduce font size */
        margin: 0.4rem; /* Add uniform spacing around buttons */
        border-radius: 4px; /* Slightly smaller border radius */
        width: auto; /* Ensure buttons don't stretch */
        text-align: center; /* Center button text */
    }

    .cta-container {
        display: flex; /* Use flexbox to arrange buttons side by side */
        justify-content: center; /* Center the buttons horizontally */
        flex-wrap: wrap; /* Allow buttons to wrap if needed */
        gap: 0.5rem; /* Add spacing between buttons */
        margin-top: 1rem; /* Add spacing above the button container */
    }
    .about-container {
        flex-direction: column; /* Stack about section content */
        align-items: center; /* Center align content */
    }

    .about-image img {
        max-width: 0%; /* Adjust image size */
    }

    .services {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .contact-container {
        flex-direction: column; /* Stack form and info vertically */
        align-items: center; /* Center align content */
        gap: 0.2rem; /* Add spacing between stacked items */
        max-height: 1400px;
    }

    

    .form-section, .info-section {
        width: 100%; /* Increase width for better utilization */
        max-width: 1000px; /* Optional: Restrict max width */
        text-align: left; /* Center-align text */
    }

    .form-section button {
        width: 100%; /* Make button full-width */
        padding: 1.2rem; /* Adjust padding for better usability */
        font-size: 1.2rem; /* Slightly increase font size */
        margin: 0 auto;
    }
    .form-section h2, .info-section h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #2d572c;
        text-align: center;
        margin-bottom: 0.5rem;
    
    }

    .form-section label {
        display: block;
        margin-bottom: 0rem;
        font-weight: bold;
        text-align: left;
        font-size: 1rem;
        padding: 0.2rem
    }
    
    .form-section input, .form-section textarea {
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
        background-color: #d2fcdb;
    }
    
    .form-section p {
        margin-bottom: 0.5rem;
        color: #555;
        font-size: 1rem;
        padding: 0rem;
        
    }
    .checkbox-container input {
        width: 15px;
        height: 16px;
        margin-top: 0.7rem;
        margin-right: 0.5rem;
    }
    .checkbox-container label {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;

    }
    .info-section h3 {
        font-size: 1.2rem; /* Slightly increase font size for better readability */
    }

    .info-image {
        width: 100%; /* Ensure image uses full width */
        margin-bottom: 1rem; /* Add spacing below the image */
    }
}
